<div class="row">
    <div class="col-md-offset-2 col-md-8">
   		<h1>blah</h1>

		<div class="table responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th><input type="checkbox" name="my-checkbox" class="js-switch" id="select-all"></th>
					</tr>
				</thead>

				<tbody>
					{{#each repos}}
						<tr>
							<td>{{full_name}}</td>
							<td>{{description}}</td>
							<td><input type="checkbox" name="my-checkbox" class="js-switch"></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>