<div class="row">
    <div class="col-md-offset-2 col-md-8">
   		<h1>My Gitstash Repositories</h1>

		<div class="table responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#each repos}}
						<tr>
							<td>{{full_name}}</td>
							<td>{{description}}</td>
							<td> <input type="checkbox" name="my-checkbox" class=".bootstrap-switch.bootstrap-switch-small" checked> </td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
