body {
	padding-top:30px;
}

#page-container {
	padding-top: 50px;
}

.navbar-wrapper {
	padding-top:5px;
}

.table-container {
	padding-top:20px;
}

.table-header {
	font-size: 18px;
}

.bootstrap-switch {
	background-color: #5cb85c;
}

.pagination .pageSelect {
	height: 40px;
	width: 40px;
	font-size: 20px;
}